<!DOCTYPE html>
<html>
<head>
	<title> </title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../../styles/bootstrap.css" >
	<!-- Latest compiled and minified JavaScript -->

	<script src="../../js/jquery.min.js"></script>
	<script src="../../js/bootstrap.js"></script>

	<script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
	<link rel="stylesheet" type="text/css" href="../../styles/jquery.fullPage.css" />
	<script type="text/javascript" src="app.js"></script>
</head>
<body>
	
	<div class="section1">
		<nav class="navbar navbar-transparent">
		  	<div class="container-fluid ">
		    	<div class="navbar-header">
		     		<a class="navbar-brand" href="#">
		     			<img src="../../images/livai.png" class="Livai"/>
		     		</a>
		    	</div>
		   		<ul class="nav navbar-nav navbar-right menu">
		      		<li class="active"><a href="#">Apps</a></li>
		      		<li><a href="#">API</a></li>
		      		<li><a href="#">Company</a></li> 
		      		<li><button class="getStarted">Get Started</a></li> 
		    	</ul>
		  	</div> 
		</nav>
		<div class="info1">
			<H1 class="Say-hello-to-LivAssi">Say hello to LivAssist</H1>
			<p class="Reclaim-your-time-an">Reclaim your time and be more efficient! LivAssist transcribes calls, makes data accessible and reminds you about all important meetings</p>
			<button class="Rectangle-8">Register for free access
			</button>
			<br>
			<button class="Rectangle-8-copy">
				Download with access key
			</button>
		</div>
	</div>
	<div class="section2">
		<div class="info1">
			<H1 class="One-app-for-all-your">One app for all your to-dos</H1>
			<div class="row info2">
				<div class="col-md-4">
					<table >
						<tr>
							<td>
								<img src="../../images/eng-hindi.svg" class="table-image"/>
							</td>
							<td>
								<h2 class="Transcribes-in-Engli">Transcribes in English & Hindi</h2>
								<p class="Talk-in-English-or-H">Talk in English or Hindi, or both, and LivAssist transcribes your call accurately and tags the speakers.</p>
							</td>
						</tr>
						<tr>
							<td>
								<img src="../../images/eng-hindi.svg" class="table-image"/>
							</td>
							<td>
								<h2 class="Transcribes-in-Engli">Summarises your data</h2>
								<p class="It-presents-your-dat">It presents your data in precise summaries while retaining all key points. No more wasting time searching reams of notes. </p>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-4">
					<img src="../../images/s-6-blue.png" class="s6"/>
				</div>
				<div class="col-md-4">
					<table >
						<tr>
							<td>
								<img src="../../images/eng-hindi.svg" class="table-image"/>
							</td>
							<td>
								<h2 class="Transcribes-in-Engli">Transcribes in English & Hindi</h2>
								<p class="Talk-in-English-or-H">Talk in English or Hindi, or both, and LivAssist transcribes your call accurately and tags the speakers.</p>
							</td>
						</tr>
						<tr>
							<td>
								<img src="../../images/eng-hindi.svg" class="table-image"/>
							</td>
							<td>
								<h2 class="Transcribes-in-Engli">Summarises your data</h2>
								<p class="It-presents-your-dat">It presents your data in precise summaries while retaining all key points. No more wasting time searching reams of notes. </p>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="info3">
		<h1 class="How-it-works">How it works</h1>
		<div class="row circles">
			<div class="col-md-3">
				<div class="Oval-16"></div>
				<br>
				<p style="font-family: FiraSans-Regular;
font-size: 16px;
line-height: 1.3;
text-align: center;
color: #727272;">Call using
LivAssist</p>
			</div>
			<div class="col-md-1 right-arrow">
				<img src="../../images/right-arrow.png" height="15px" width="20px">
			</div>
			<div class="col-md-3">
				<div class="Oval-16"></div>
				<br>
				<p style="font-family: FiraSans-Regular;
font-size: 16px;
line-height: 1.3;
text-align: center;
color: #727272;">Let it process the audio

</p>
			</div>
			<div class="col-md-1 right-arrow">
				<img src="../../images/right-arrow.png" height="15px" width="20px">
			</div>
			<div class="col-md-3">
				<div class="Oval-16"></div>
				<br>
				<p style="font-family: FiraSans-Regular;
font-size: 16px;
line-height: 1.3;
text-align: center;
color: #727272;">Get information you can use</p>
			</div>
		</div>
		<h1 class="Register-now-to-try">Register now to try LivAssist free for the first 3 months</h1>
		<div class="info4">
			<H1>&#8377;0</H1>
			<h3 class="Perfect-for-small-st">Perfect for small startups that have less than 10 team members</h3>
		</div>
		<div class="info5">
			<ul class="list">
			  	<li>Unlimited transcriptions</li>
			  	<li>Upto 100 calls</li>
			  	<li>English &amp; Hindi</li>
			  	<li>Integrated analytics</li>
			  	<li>Free support</li>
			</ul>
			<button class="Rectangle-9">Install for free</button>
		</div>
	</div>
	<div class="section6">
		<div class="info6">
			<div class="row address">
				<div class="col-md-12">
					<h3 class="hellolivai"><img src="../../images/livai.png"/>&nbsp&nbsp&nbsp&nbsp<img src="../../images/location.svg"/> Old Airport Road, Bangalore <img src="../../images/email.svg"/> hello@liv.ai</h3>
				</div>
			</div>
			<h4 class="Careers-Company">Careers  *  Company  *  App  *  APIs</h4>
			<H4 class="copyright">&#169;2016 Liv.ai </H4>
		</div>
		<svg class="waveImage1" id="graph" width="100%" height="100px">
			
		</svg>
	</div>

</body>
</html>