.header_bg {
  width: 100.5%;
  height: auto;
  background:linear-gradient(to bottom, #18306d, #5ed7fe);
  padding-bottom: 10%;
}
.info1{
  vertical-align: middle;
  margin-right: auto !important;
  margin-left: auto !important;
}
.Livai {
  width: 59.7px;
  height: 21.8px;
  object-fit: contain;
  margin-left: 166px;
  background-color: #d2dfdd;
  background-color: var(--blue-grey);
}
.Name-of-App-API {
  width: 243px;
  height: 19px;
  opacity: 0.8;
  font-family: FiraSans-Book;
  font-size: 16px;
  color: #ffffff;
  color: var(--white);
}
.Rectangle-2 {
  width: 108px;
  height: 38px;
  opacity: 0.3;
  border-radius: 21px;
  background-color: #d8d8d8;
  background-color: var(--grey4);
}
.Supercharge-your-eff {
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #d2dfdd;/*
  color: var(--blue-grey);*/
}
.navbar{
  background: transparent;
}
.menu{
  margin-right: 174px !important;
}
.getStarted {
  margin-top: 10%;
  width: 108px;
  height: 38px;
  opacity: 0.3;
  border-radius: 21px;
  background-color: #d8d8d8;
  /*background-color: var(--grey4);*/
}
.Beta {
  width: 29px;
  height: 17px;
  vertical-align: top; 
  position: relative; 
  top: 0.15em;
  font-family: FiraSans-Regular;
  font-size: 18px;
  text-align: center;
  color: #f6f6f6;
  color: var(--grey2);
}
.The-smartest-persona {
  width: auto;
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  position: relative; 
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  /*color: var(--white);*/
}
.Available-in-English {
  width: 419px;
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  position: relative; 
  margin-top:-10px;
  margin-left: auto;
  margin-right: auto;
  /*color: var(--white);*/
}
.email{
  margin-top: 8%;
  position: relative;
  width:40%;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 10%! important;
}
.Rectangle-3 {
  width:100%;
  height: 49px;
  z-index: 99px;
  border: 0;
  background-color: #f6f6f6;
  margin-left: 10%;
  text-align: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 2em;
  /*background-color: var(--grey2);*/
}
.Rectangle-3-Copy {
  width: 100%;
  height: 49px;
  z-index: -1px;
  background-color: #234663;
  border: 0; 
  text-align: center;
  margin-left:-10%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  color: #f6f6f6;
  /*background-color: var(--navy);*/
}
/*.waves{*/
  /*height: 100px;
  isplay: table;
  width: 100%;
  list-style: outside none none;*/
 /* content: " ";
  display: table;
  box-sizing: border-box;
  clear: both;
  content: " ";
  display: table;
  box-sizing: border-box;
  margin: 0;
  margin: 7.5px -15px;
  list-style: outside none none;
  margin-bottom: 0;
  padding-left: 0;
  margin-right: 174px !important;
  margin-bottom: 10px;
  margin-top: 0;
  box-sizing: border-box;
}*/
/*.wave{
   background: #E20074;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;      
    animation: sound 0ms -800ms linear infinite alternate;
}
@keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 28px;        
    }
}*/
ul#waves {
    padding: 0;
}

ul#waves li {
    display: inline;
}


/*==========Second Section==============*/
.section2 {
  width: 70%;
  padding:20px;
  background:#ffffff;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 10%;
  margin-bottom: 10%;
}
.What-can-Liv-do-for {
  text-align: center;

  margin-right: auto !important;
  margin-left: auto !important;
  margin-bottom: 119px;
  width:100%;
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: center;
  color: #3f8ebf;
}
.section1-image1{
  height: 120px;
  width: 250px;
  margin-bottom: 19vh;
}
.section1-image2{
  width: 90px;
  height: 54px;
}

.infoTable{
  padding: 40px;
  margin-bottom: 10%;
}
.Transcribe-your-conv {
  width: 290px;
  font-family: FiraSans-Medium;
  font-size: 18px;
  color: #3f8ebf;
}
.Liv-will-transcribe {
  width:100%;
  height: 105px;
  margin-bottom: 15vh;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
  color: var(--grey3);
}
.Rectangle-4 {
  width: 395px;
  height: 184px;
  background-color: #d8d8d8;
  /*background-color: var(--grey4);*/
}
.Livs-unique-audio-s {
  height: 84px;
  width:100%;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.Search-your-audio {
  width: 174px;
  height: 31px;
  font-family: FiraSans-Medium;
  font-size: 21px;
  color: #3f8ebf;
}
.Summarise-your-calls {
  width: 205px;
  height: 31px;
  font-family: FiraSans-Medium;
  font-size: 21px;
  color: #3f8ebf;
}
.Liv-summarises-your {
  width:100%;
  height: 84px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.Set-reminders-and-al {
  width: 253px;
  height: 31px;
  font-family: FiraSans-Medium;
  font-size: 21px;
  color: #3f8ebf;
}
.Liv-reminds-you-abou {
  width:100%;
  height: 84px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.Extract-important-in {
  width: 288px;
  height: 31px;
  font-family: FiraSans-Medium;
  font-size: 21px;
  color: #3f8ebf;
}
.Liv-easily-recognise {
  width:100%;
  height: 84px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}

/*=========Third Section=============*/
.section3 {
  width: 100%;
  height: 709px;
  background-image: linear-gradient(to bottom, #fdf1fa, #6c96bc);
  position:relative;
}
.info2{
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.Members-only-Android {
  width: 100%;  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: left;
  color: #3f8ebf;
  margin-top:45%;
}
.phone-image{
  padding: 10%;
  margin-top: 20%;
  height: 100%;
}
.Rectangle-8 {
  width: 240px;
  height: 44px;
  border-radius: 21px;
  background-color: #3f8ebf;
  color: #fff;
  /*background-color: var(--blue);*/
  margin-top:1%;
  border: solid 1px #3f8ebf;
  border: solid 1px var(--blue);
  margin-right: auto!important;
  margin-left: auto!important;

}
.Rectangle-8-copy{
  width: 240px;
  height: 44px;
  border-radius: 21px;
  background: transparent;
  color: #3f8ebf;
  /*background-color: var(--blue);*/
  margin-top:5%;
  border: solid 1px #3f8ebf;
  margin-right: auto!important;
  margin-left: auto!important;
}








.section4 {
  margin-top: 10%;
  background:#fff;
  text-align: center;
}
.Explore-the-APIs-an {
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: center;
  color: #3f8ebf;
}
.waveImage1{
  background-color: #3f8ebf;
  background-color: var(--blue);
}
.copyright{
  margin-top: 5%;
  width: auto;
  height: 21px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.info6{
  width:60%;
  margin-right: auto;
  margin-left: auto;
}
.Livai1{
  height: 56.8px;
  object-fit: contain;
  align: right;
  padding:10%;
  background-color: #d2dfdd;
  background-color: var(--blue-grey);
}
.address{
  margin-top: 10%;
}
.Old-Airport-Road-Ba {
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #9ea8ac;
}
.hellolivai {
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #9ea8ac;
}
.Careers-Company {
  margin-top: 5%;
  width: auto;
  height: 29px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.8;
  color: #bcbcbc;
}