<!DOCTYPE html>
<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../../styles/bootstrap.css" >
		<!-- Latest compiled and minified JavaScript -->

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.js"></script>

		<script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
		<link rel="stylesheet" type="text/css" href="../../styles/jquery.fullPage.css" />
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-transparent">
		  	<div class="container-fluid ">
		    	<div class="navbar-header">
		     		<a class="navbar-brand" href="#">
		     			<img src="../../images/livai.png" class="Livai"/>
		     		</a>
		    	</div>
		   		<ul class="nav navbar-nav navbar-right menu">
		      		<li class="active"><a href="#">Apps</a></li>
		      		<li><a href="#">API</a></li>
		      		<li><a href="#">Company</a></li> 
		      		<li><button class="getStarted">Get Started</button></li> 
		    	</ul>
		  	</div>
		</nav>
		<div class="Rectangle-46">
			<div class="info1">
				<p class="Imagine-a-world-wher">Imagine a world where you don’t have to remember every conversation, a world where you are not dependent on hand-written notes, a world where your mind is not taxed with tedium, where your brain is not cluttered with appointments, schedules, addresses and phone numbers.

	A world where you can devote your energy to things that matter. A world where your mind is free to innovate.</p>
				<p class="Now-stop-imagining">Now, stop imagining. Because that world is here.</p>

			</div>
		</div>
		<div class="info2">
			<h1 class="Were-strategists-d">We re strategists, designers, and technologists with experience and curiosity</h1>
			<div class="row founders">
				<div class="col-md-4">
					<div class="Rectangle-36"></div>
				</div>
				<div class="col-md-4">
					<div class="Rectangle-36"></div>
				</div>
				<div class="col-md-4">
					<div class="Rectangle-36"></div>
				</div>
			</div>
			<button class="Rectangle-8">Join Us
			</button>
		</div>
		<br><br><br>
		<div class="section6">
			<div class="row info6" style="margin-bottom: 50px">
				<img src="../../images/livai.png"/><h3><img src="../../images/location.svg"/> Old Airport Road, Bangalore <img src="../../images/email.svg"/> hello@liv.ai</h3>

				<h4 class="Careers-Company">Careers  *  Company  *  App  *  APIs</h4>
				<p class="016-Livai"> ©2016 Liv.ai </p>
			</div>
			<svg class="waveImage1" id="graph" width="100%" height="175px">
				
			</svg>
		</div>
	</body>
</html>