<!DOCTYPE html>
<html>
	<head>
		<title> </title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="../../styles/bootstrap.css" >
		<!-- Latest compiled and minified JavaScript -->

		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/bootstrap.js"></script>

		<script type="text/javascript" src="../../js/jquery.fullPage.js"></script>
		<link rel="stylesheet" type="text/css" href="../../styles/jquery.fullPage.css" />
		<script type="text/javascript" src="app.js"></script>
	</head>
	<body>
		<div class="section">
			<div class="header_bg">
				<nav class="navbar navbar-transparent">
			  	<div class="container-fluid container-fluid-new ">
			    	<div class="navbar-header">
			     		<a class="navbar-brand navbar-brand-new" href="../../index.html">
			     			<img src="../../images/livai-blue.png" class="Livai"/>
			     		</a>
			    	</div>
			   		<ul class="nav navbar-nav navbar-right menu">
			      		<!-- <li class="active"><a href="#">Apps</a></li> !-->
			      		<li class="navbar_li"><a  class="name-of-app-a-p-i" href="../api/api.html">API</a></li>
			      		<li class="navbar_li"><a  class="name-of-app-a-p-i" href="../company/company.html">Company</a></li>
			      		<li ><button class="getStarted rectangle-2" data-toggle="modal" data-target="#myModal">Get Started</a></li> 
				      		
				    	</ul>
				    	<div class="modal" id="myModal" role="dialog">
						    <div class="modal-dialog">
						    
						      <!-- Modal content-->
						      	<div class="modal-content">
						          	
							        <div class="modal-body">
							        	<div class="custom-modal-header">
							        		<button type="button" class="close" data-dismiss="modal" style="color: white; margin-right: 10px;">&times;</button>
							        		<br>
							        		<br>
							        		<div class="modal-info">
							          			<h4 class="Thank-you-for-your-i">Thank you for your interest in Liv.<br>
							          			We&#8217;re excited to hear from you.</h4>
							          		</div>
							          		<img src="../../images/page-1.svg" class="waveImage">
							          	</div>

							          	<div class="modal-info1">
							          		<h3 class="Please-leave-your-in"> Please leave your information and let us get back to you</h3>
							          		<form class="form-get-started">
							          			<input type="text" class="Rectangle-47" id="name" placeholder="Name">
							          			<br>
							          			<input type="text" class="Rectangle-47" id="email" placeholder="Email-Address">
							          			<br>
							          			<input type="text" class="Rectangle-47" id="phoneNumber" placeholder="Phone Number">
							          			<br>
													<button type="submit" class="Rectangle-8-copy">Submit</button>
											</form>
							          	</div>
							        </div>	
						      </div>
						    </div>
					    </div>
				  	</div>
				</nav>
			</div>
		</div>
		<div class="Rectangle-46">
			<div class="info1">
				<p class="Imagine-a-world-wher">Imagine a world where you don’t have to remember every conversation, a world where you are not dependent on hand-written notes, a world where your mind is not taxed with tedium, where your brain is not cluttered with appointments, schedules, addresses and phone numbers.</p>

	<p class="Imagine-a-world-wher">A world where you can devote your energy to things that matter. A world where your mind is free to innovate.</p>
				<p class="Now-stop-imagining">Now, stop imagining. Because that world is here.</p>

			</div>
		</div>
		<div class="info2">
			<h1 class="Were-strategists-d">We re strategists, designers, and technologists with experience and curiosity</h1>
			<div class="row founders">
				<div class="col-md-3">
					<div class="Rectangle-36">
						<div class="info-founders">
							<img src="../../images/liv-profile-subodh.png" class="Liv-profile-Subodh">
							<h5 class="Subodh-Kumar">Subodh Kumar</h5>
							<p class="Subodh-is-the-foundi">Subodh is the founding CEO of Liv.ai. Before Liv.ai Subodh worked in Microsoft as a research engineer in Bing. Subodh has a prior start-up experience of running a high frequency trading firm where he developed quantitative trading models and ultra-low latency systems. Subodh also spent three years at Citigroup's macro-strategy team working at its NY, HK and Singapore offices. Subodh holds a B.Tech in Computer Science from IIT Kharagpur and an MBA from IIM Bangalore.</p>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="Rectangle-36">
						<div class="info-founders">
							<img src="../../images/liv-profile-sanjeev.png" class="Liv-profile-Subodh">
							<h5 class="Sanjeev-Kumar-PhD">Sanjeev Kumar, PhD</h5>
							<p class="Subodh-is-the-foundi">Sanjeev has more than 12 years of research experience in the field of Signal processing and Machine learning. 
He has previously worked for a start-up Avaak Inc and Qualcomm Inc in San Diego, California. He holds MS and PhD in electrical engineering from University of California, San Diego and B.Tech from IIT Kharagpur. He has more more than 10 peer-reviewed research publications and 7 granted/pending US patents.</p>
						</div>
					</div>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<div class="Rectangle-36">
						<div class="info-founders">
							<img src="../../images/liv-profile-kishore.png" class="Liv-profile-Subodh">
							<h5 class="Sanjeev-Kumar-PhD">Kishore Mundra</h5>
							<p class="Subodh-is-the-foundi">Kishore has more than 10 years of experience in software product development. Before founding Liv.ai...
, Kishore worked in Beceem Comm. developing 4G solutions ( acquired by Broadcom in 2011 ). He has an exceptional record of leading and managing engineering team. He has worked with various vendors in US and East Asia for 4G deployment. He also holds multiple patents as part of his research work earlier in Samsung, India. Kishore has a B.Tech & M.Tech degree in Computer Science from IIT Kharagpur.</p>
						</div>
					</div>
				</div>
			</div>
			<button class="Rectangle-8">Join Us
			</button>
		</div>
		<br><br><br>
		<div class="section6">
			<div class="row info6" style="margin-bottom: 50px">
				<h3 class="hellolivai"><img src="../../images/livai.png"/>&nbsp&nbsp&nbsp&nbsp<img src="../../images/location.svg"/> Old Airport Road, Bangalore <img src="../../images/email.svg"/> hello@liv.ai</h3>
				<h4 class="Careers-Company">Careers  *  Company  *  App  *  APIs</h4>
				<p class="016-Livai"> ©2016 Liv.ai </p>
			</div>
			<svg class="waveImage1" id="graph" width="100%" height="100px">
				
			</svg>
		</div>
	</body>
</html>