.Livai {
  width: 59.7px;
  height: 21.8px;
  object-fit: contain;
  margin-left: 166px;
  background-color: #d2dfdd;
  background-color: var(--blue-grey);
}
.navbar{
  background: transparent;
}
.menu{
  margin-right: 174px !important;
}
.getStarted {
  margin-top: 10%;
  width: 108px;
  height: 38px;
  opacity: 0.3;
  border-radius: 21px;
  background-color: #d8d8d8;
  /*background-color: var(--grey4);*/
}


.section1{
  width:100%;
  height: 417px;
  margin-bottom: 10px;
}
.info1{
  margin-top: 8%;
  width:40%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.Do-more-with-our-API {
  width: auto;
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: center;
  color: #3f8ebf;
  color: var(--blue);
}
.Seamlessly-integrate {
  width: 419px;
  height: 42px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
  color: #727272;
  color: var(--grey3);
  margin-left: auto !important;
  margin-right: auto !important;
}
.buttons{
  margin-left: auto !important;
  margin-right: auto !important;
}
.Rectangle-3-Copy {
  width: 171px;
  height: 44px;
  border-radius: 21px;
  border: solid 1px #3f8ebf;
  margin-top: 10px;
  /*border: solid 1px var(--blue);*/
  background-color: #fff;
}



.section-api{
  width: 100.5%;
  height: 105%;
  background:#fff;
}
.app{
  width: 100%;
	height: 80%;
	background-image: linear-gradient(to bottom, #514a9d, #24c6dc);
  position: relative;
}
.waveImage{
  width: 100%;
  position: absolute;
  bottom:0px;
}
.Demo-this-ground-bre {
  width: 500px;
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #9ea8ac;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.wrapper{
	text-align: center;
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}
.submit{
  width: 70px;
  height: 70px;
  border-radius: 40px;
  margin-top: 50%;
}
.notes{
  margin-top: 40px;
	display: block;
  width:100%;
  border-radius: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}
.language{
  margin-top: 100px;
  height: 44px;
  border:1px solid #fff;
  background-color: transparent !important;
  border-radius: 18px;
  color: #fff !important;
}
.language > option{
    color: black;
    background : none;
}





.section2 {
  width: 100.5%;
  height: 80%;
  background:#fff;
  text-align: center;
}
.How-can-our-pioneeri {
  width: 731px;
  height: 21px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  margin-left: 22%;
  color: #727272;
}
.info{
  width: 100%;
  height: 59%;
  object-fit: contain;
  position: relative;
}
.Use-cases {
  width: 163px;
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  text-align: center;
  color: #3f8ebf;
}
.myCarousel{
  margin-top:5%; 
  margin-right: auto !important;
  margin-left: auto !important;
}
.itemset{
  width:60%;
  margin-right: auto !important;
  margin-left: auto !important;
}
.carousel-control.left, .carousel-control.right{ 
background: none !important; 
filter: progid:none !important; 
}
.Dont-just-listen-to {
  width: 262px;
  height: 168px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
  color: var(--grey3);
}














.section3 {
  width: 100.5%;
  height: 130%;
  background:#234663;
  text-align: center;
  padding-top: 10%;
}
.info4{
  height:10%;
  margin-bottom: 5%;
  margin-left: 25%;
  text-align: center;
}
.Explore-our-APIs-u {
  width: 599px;
  height: 44px;
  font-family: FiraSans-Light;
  font-size: 36px;
  color: #3f8ebf;
}
.info5{
  width:65%;
  height:40%;
  margin-right: 20%;
  margin-left: 15%;
}
.Rectangle-4 {
  /*width: 293.1px;*/
  height: 321.9px !important;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #f6f6f6;
  border: solid 1px var(--grey2);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.Audio-to--text {
  text-align: left !important;
  font-family: FiraSans-Medium;
  font-size: 21px;
  color: #3f8ebf;
}
.The-API-supports-mul {
  text-align: left !important;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.email{
  
}
.Rectangle-7 {
  width: 301px;
  height: 49px;
  z-index: 99px;
  border: 0;
  background-color: #d2dfdd;
  text-align: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 2em;
  /*background-color: var(--grey2);*/
}
.Rectangle-7-Copy {
  width: 100px;
  height: 49px;
  z-index: -1px;
  background-color: #234663;
  border: 0; 
  text-align: center;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  color: #f6f6f6;
  border-right:1px solid #fff;
  border-bottom:1px solid #fff;
  /*background-color: var(--navy);*/
}







.section6 {
  margin-top: 10%;
  background:#fff;
  text-align: center;
}
.waveImage1{
  background-color: #3f8ebf;
  background-color: var(--blue);
}
.copyright{
  margin-top: 5%;
  width: auto;
  height: 21px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.3;
  color: #727272;
}
.info6{
  width:60%;
  margin-right: auto;
  margin-left: auto;
}
.Livai1{
  height: 56.8px;
  object-fit: contain;
  align: right;
  padding:10%;
  background-color: #d2dfdd;
  background-color: var(--blue-grey);
}
.address{
  margin-top: 10%;
}
.Old-Airport-Road-Ba {
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #9ea8ac;
}
.hellolivai {
  height: 19px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  color: #9ea8ac;
}
.Careers-Company {
  margin-top: 5%;
  width: auto;
  height: 29px;
  font-family: FiraSans-Regular;
  font-size: 16px;
  line-height: 1.8;
  color: #bcbcbc;
}